.table
  margin-top: 10rem

  th,
  td
    border-top: none

  thead th
    border-bottom: 1px solid $grey

  td
    width: 50%

    ul
      padding: 0
      list-style: none

.export
  text-align: center
  margin:
    top: 5rem
    bottom: 7.5rem

  button
    font:
      family: $text
      size: 1.3rem
    letter-spacing: -.08
    color: $white

    background-image: linear-gradient(180deg, #6CB3FA 0%, #067DFF 100%)
    box-shadow: 0 0 0 0 rgba(0,0,0,0.15)
    border-radius: 3.5px
    padding: .8rem 2rem